Django==3.0.7
djangorestframework==3.11.0
django-filter==2.3.0
dumb-init==1.2.2
gunicorn==19.9.0
mysqlclient==2.0.1
pytz==2017.3
PyYAML>=4.2b1
whitenoise==5.1.0

# Dev packages
factory_boy==2.12.0
pylint
pylint-django
black>=19.3b0
