{% if guild %}
    <h1>{{ guild.name }}</h1>
{% endif %}

{% if guild.characters %}
    {% block table %}
    <table id="id_character_table" border="1" cellpadding="10">
        <tr><td>Name</td><td>Class</td><td>Race</td></tr>
        {% for c in guild.characters %}
            <tr>
                <td><a href="{% url 'roster:character' c.id %}">{{ c.name }}</a></td>
                <td>{{ c.eqrace }}</td>
                <td>{{ c.eqclass }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endblock %}
{% else %}
    No guild characters found.
{% endif %}
